</body>

<footer>
  <div class="copyRight">&copy;
    <span id="copyright">
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
    </span>
    Steph Peralta
  </div>
</footer>

</html>
